/* .container-pai {
    position: relative;
}


.cabecalho {
  background-color: #e3f4fe;
  padding: 180px 95px 95px 95px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  height: 300px;
  margin-right: 650px;
} 

.card-wrapper {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: absolute;
    top: 100px; 
    left: 780px; 
    z-index: 10;
}
 */

 .container-pai {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px; /* Ajuste conforme necessário */
}


.card-wrapper {
    position: absolute;
    top: 100px; /* Ajuste conforme necessário */
    left: 70%; /* Aumente ou diminua conforme necessário */
    transform: translateX(-50%);
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.cabecalho {
    background-color: #e3f4fe;
    padding: 180px 50px 95px 50px; /* Ajuste conforme necessário */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 300px;
    width: 60%;
    margin-right: 524px;
}

.titulo-aplicacao,
.descreve-aplicacao {
    margin: 0;
}

.titulo-aplicacao {
    font-size: 32px;
    color: #333;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.descreve-aplicacao {
    font-size: 14px;
    color: #728091;
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-line;
    text-align: left;
    line-height: 1.6;
    margin-top: 35px;
}


.descricao-imc
{
    color: #2f3742;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}

p.descricao-imc {
    margin-top: 0px;
}


.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.radio-btn-group {
    display: flex;
    gap: 107px;
}

.radio-btn input
{
    transform: scale(1.8); 
}

.radio-btn .label-text {
    font-size: 16px;
    margin-left: 15px;
}


.input-group {
    display: flex;
    gap: 20px;
}

.input-label {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.input-container {
    position: relative;
}

.medicao {
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    color: #3361ee;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}


.input-item
{
    color: gray;
}

.input-container input {
    border-radius: 10px;
    width: 160px;
    height: 40px;
}

.input-container .numero
{
    color: #2f3742;
    font-weight: bold;
    font-size: 18px;
}

.conteudo-1-imc {
    display: flex;
    justify-content: space-around;
    background-color: #3361ee;
    border-top-right-radius: 58px;
    border-bottom-right-radius: 58px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 20px;
    margin-right: 30px;
  }

.texto-resultado
{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.texto-descricao
{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.div-descricao
{
    margin-top: 10px;
    margin-left: 20px;
}

.valor-resultado 
{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}


/* Mídia query para telas menores, como celulares */
@media screen and (max-width: 600px) {
    .radio-btn-group {
        display: flex;
        gap: 10px;
    }

    .input-group {
        display: flex;
        flex-direction: column;
    }

    .descricao-imc
    {
        font-size: 16px;
    }

    .medicao {
        right: 32px; /* Ou qualquer valor que melhor se ajuste às telas menores */
        position: relative;
        top: 0;
        transform: translateY(0);
    }

    .conteudo-1-imc {
        flex-direction: column;
        padding: 10px;
        margin: 0 auto;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-radius: 18px;
        min-width: 200px;
        margin-right: 0;
    }

    .div-resultado
    {
        margin-bottom: 10px;
        margin-left: 20px;
    }
    
    .titulo-aplicacao {
        text-align: center;
    }

    .descreve-aplicacao {
        font-size: 12px;
        color: #728091;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center; /* Ajusta o alinhamento à esquerda */
        line-height: 1.6;
        max-width: 600px; /* Define uma largura máxima para evitar que o texto se estenda demais */
        margin: 0 auto; /* Centraliza o parágrafo */
        margin-top: 15px;
    }

    .container-pai {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px;
    }

    .cabecalho {
        padding: 20px;
        margin-right: 0;
        text-align: center;
        width: 70%;
    }

    .card-wrapper {
        position: absolute;
        top: 300px; /* Ajuste conforme necessário para posicionar abaixo da div de cabeçalho */
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

}